<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
   
    <title>Document</title>
</head>
<body>
    
    <div id="app">

      <h1>
        To-do list
    </h1>
    <div>
        <label for="task">Новая задача:</label>
        <input type="text" id="task" v-model="newTask">
        <button @click="addTask">Добавить</button>
    </div>

   
      
      <todo-item
      v-for="(todo, index) in todoList"
      :todo="todo"
      :index="index"      
    
    >  </todo-item>   
    
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
    <script  src="script.js"></script>

</body>

      
   